@import '../../styles/color';

.new-address-list,
.saved-addresses-list {
  margin-bottom: 10px;
  position: relative;

  .list-group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
  }

  .header {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
    color: #fff;
  }
}

.adress-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
  i {
    display: none;
  }
}

.selected {
  z-index: 100;
  background-color: lighten($accent-color,8);
  color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  i {
    display: inline;
  }
}

.add-address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sebm-google-map-container {
  height: 300px;
}
