<header class="primary">
  <img class="sm" src="/images/logo_sm.png" alt="Sydli" [routerLink]="['home']">
  <img class="lg" src="/images/logo_lg.png" alt="Sydli" [routerLink]="['home']">
  <a class="btn ripple" (click)="showLogin()" *ngIf="!loggedin">Log In</a>
  <a *ngIf="loggedin" (click)="open(dropdownMenu)" (clickOutside)="close($event,dropdownMenu)">
    <span class="badge" *ngIf="(newOrderCount>0?true:false)&&!isPharmacy">{{ newOrderCount }}</span>
    {{ 'userName' | slice:0:15 }}
    <i class="material-icons">more_vert</i>
    <div class="dropdown dropdown-right close" #dropdownMenu>
      <ul>
        <li>
          <a [routerLink]="['userprofile']">Profile</a>
  </li>
  <li>
    <a [routerLink]="['myorders']" *ngIf="!isPharmacy">My Orders&nbsp;&nbsp;<span class="new-order" *ngIf="newOrderCount>0?true:false">{{ newOrderCount }}<small>&nbsp;NEW</small></span></a>
  </li>
  <li>
    <a (click)="signout()">Logout</a>
  </li>
  </ul>
  </div>
  </a>
</header>
<header class="secondary menu-header" (click)="toggleMenue(menu)">
  <i class="material-icons">menu</i>{{ currentLink }}
</header>
<header class="secondary menu" #menu>
  <div>
    <a [routerLink]="['home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenue(menu)">{{ 'home' | translate }}</a>
    <a [routerLink]="['makeorder']" routerLinkActive="active" (click)="toggleMenue(menu)">{{ 'makeorder' | translate }}</a>
    <a [routerLink]="['signup']" routerLinkActive="active" (click)="toggleMenue(menu)">{{ 'signup' | translate }}</a>
    <a [routerLink]="['download']" routerLinkActive="active" (click)="toggleMenue(menu)">{{ 'download' | translate }}</a>
    <a [routerLink]="['contactus']" routerLinkActive="active" (click)="toggleMenue(menu)">{{ 'contactus' | translate }}</a>
  </div>
</header>
