.btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: $primary-inverse-text-color;
  background-color: $accent-color;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  margin: 0 8px;
  min-width: 80px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &:hover {
    background-color: lighten($accent-color,10);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  }

  &:focus {
    background-color: darken($accent-color,10);
  }
}

.btn-flat {
  font-size: 14px;
  box-shadow: none;
  background-color: transparent;
  color: $secondary-text-color;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  margin: 0 8px;
  min-width: 80px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  &:active {
    background-color: rgba(0,0,0,0.2);
  }

  &:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
  }

  &:focus {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
  }
}

.btn-floating {
  font-size: 14px;
  width: 56px;
  height: 56px;
  line-height: 54px;
  display: inline-block;
  color: $primary-inverse-text-color;
  position: relative;
  overflow: hidden;
  z-index: $z-fab;
  padding: 0;
  background-color: $accent-color;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63);
  cursor: pointer;
  outline: 0;
  border: none;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &:hover {
    background-color: lighten($accent-color,10);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  }

  &:focus {
    background-color: darken($accent-color,10);
  }
}

.btn-floating.show {
  transform-origin: center center 0;
  transform: scale(1);
  opacity: 1;
}

.btn-floating.hide {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)!important;
  transform-origin: center center 0;
  transform: scale(0);
  opacity: 0;
}

.btn-flat.disabled,
.btn-flat:disabled,
.btn-flat[disabled],
.btn-floating.disabled,
.btn-floating:disabled,
.btn-floating[disabled],
.btn.disabled,
.btn:disabled,
.btn[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}
