@import 'mixins';
@import 'variables';
@import 'normalize';
@import 'color';
@import 'button';
@import 'typography';
@import 'header';
@import 'footer';
@import 'banner';
@import 'cart-widget';
@import 'dropdown';
@import 'lang-widget';
@import 'backdrop';
@import 'dialog';
@import 'form';
@import 'alert';
@import 'spinner';
@import '../../node_modules/css-ripple-effect/dist/ripple.css';
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

html {
  font-size: 14px;
  font-family: 'Roboto' , sans-serif;
  line-height: 1.5;
  font-weight: normal;
  word-wrap: normal;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  background-color: $primary-color-light;
  perspective: 600px;
  position: relative;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.wrapper {
  direction: ltr;
}

.link {
  color: $accent-color;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  text-decoration: underline;
}
