<div class="banner">
  <img class="lg" src="/images/banner_lg.png" alt="">
  <img class="md" src="/images/banner_md.png" alt="">
  <img class="sm" src="/images/banner_sm.png" alt="">
  <div class="banner-container">
    <h4 class="light-text text-uppercase">
      Order Your Medecine Online...
    </h4>
    <h5>
      <small class="light-text">From more than 5000 Pharmacies all over Egypt</small>
    </h5>
    <button class="btn ripple" [routerLink]="['makeorder']">Order Now !</button>
  </div>
</div>
