<div class="col-lg-12">
  <ul class="list-group contactus">
    <li class="list-group-item">
      <i class="material-icons">phone</i>
      &nbsp;<b>Phone&nbsp;&nbsp;</b>
       01116611106
     </li>
    <li class="list-group-item">
      <i class="material-icons">email</i>
      &nbsp;<b>E-Mail&nbsp;&nbsp;</b>
       contactus@sydli.com
     </li>
     <li class="list-group-item">
       <i class="material-icons">directions</i>
       &nbsp;<b>Address&nbsp;&nbsp;</b>
        1 Tayaran Street, Nasr City, Cairo, Egypt
      </li>
  </ul>
</div>
